html{
    height: 100%;
    min-height: 100%;
}

h1.light-text, p.light-text{
    color: #D8D8D8;
}

h1.dark-text, p.dark-text{
    color: #2D2D2F;
}
span.professional-text{
    text-decoration-line: underline;
    text-decoration-color: #198754;
}

span.photography-text{
    text-decoration-line: underline;
    text-decoration-color: #0D6EFD;
}

h1{
    font-size: clamp(2.9rem, 4vw, 4rem);
}

p{
    font-size: clamp(1.7rem, 2.5vw, 2.3rem);
}

body {
    background-color: #2D2D2F;
    min-height: 100%;
}

div.welcome-div{
    background-image:url("/images/APillarForManwe.png");
    background-size: 100px 200px;
    background-size: 100% 100%;
    height: 90svh;
    width: 100svw;
    max-width: 100%;
    min-height: 800px;
}

div.welcome-div-small{
    background-image:url("/images/APillarForManweCropped.png");
    background-size: 200px 100px;
    background-size: 100% 100%;
    height: 90svh;
    min-height: 800px;
    width: 100svw;
    max-width: 100%;
}

div.welcome-text{
    background-image: linear-gradient(214deg, purple, purple, darkred);
    mix-blend-mode: hard-light;
    border-left: #5E032E solid 5px;
}

h1.greeting-text{
    padding: 20px 20px 20px 20px;
}

img.filler-image{
    width: 1px;
    height: 90svh;
    min-height: 800px;
}

h1, p, button.homebutton{
    color: #D9D8DB;
    text-decoration: none;
}

h1.subheader{
    color:#ADADAD;
    text-align: center;
    padding-top: 2svh;
    padding-bottom: 4svh
}

a.my-decoration {
    padding-left: 2rem;
}
a.no-decoration{
    color: inherit;
    text-decoration: none;
}
  
img.navbar-img {
    min-width: 2rem;
    height: 2.5rem;
}

a.navbar-end {
    margin-right: 2rem;
}

h1.card-link{
    text-decoration: none;
}

div.selection-view:hover{
    transform: scale(.95);
    transition: 300ms;
}

img.panel-left{
    border-radius: 10px 0px 0px 10px;
}

div.panel-right{
    border-radius: 0px 10px 10px 0px;
}

.debug-div{
    border: 2px solid red;
}

div.showcase-link{
    max-width: 75rem;
    margin: 2rem auto 2rem auto;
}

div.index-content{
    margin-right: auto;
    margin-left: auto;
    background-color: #C7C7C7;
    padding: 1svh 2svw 1svh 2svw;
}
h1.index-content-header{
    text-decoration-color: #2D2D2F;
}