
body{
    background-color: var(--clrPDarkBackground);
    color: var(--clrPLightText);
    padding: 0 0 5rem 0;
}

.contentContainer{
    margin: 0 auto 0 auto;
    width: 800px;
    max-width: 90svw;
}

.insightTitle{
    padding: 0 0 0 0;
}

.code{
    font-family: "Courier New";
    background-color: var(--clrCodeBackground);
    color: var(--clrPLightText);
}
.code::before, .code::after{
    content: "\"";
    background-color: var(--clrPDarkBackground);
}
.philosophy{
    padding: 0 0 4rem 0;
}