
body{
    background-color: var(--clrPDarkBackground);
    color: var(--clrPLightText);
    padding: 0 0 5rem 0;
}

.contactGrid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 50%;
    gap: 4rem;
}
.icon{
    width: 75px;
}
.banner{
    position: relative;
}
.bannerText{
    position: absolute;
    top: 30%;
    left: 10%;
    background: var(--clrDarkTransparent);
    padding: 2rem 2rem 2rem 2rem;
}

a.gitHubLink{
    color: #40962C;
}

a.linkedInLink{
    color: #0A66C2;
}

a.instagramLink{
    color: #C13584;
}

/*
    Start Media Queries
*/
@media (max-width: 1545px){

    .contactGrid{
        max-width: 90%;
    }
    
}
