body{
    background-color: #272323;
    color: white;
    padding: 0 0 5rem 0;
}

.contentContainer{
    margin: 0 auto 0 auto;
    width: 800px;
    max-width: 90svw;
}

.mainTitle{
    padding: 5rem 0 0 0;
}

.insightTitle{
    padding: 0 0 0 0;
}

.code{
    font-family: "Courier New";
    background-color: #353333;
    color: #FBFCFB;
}
.code::before, .code::after{
    content: "\"";
    background-color: #272323;
}
.philosophy{
    padding: 0 0 4rem 0;
}