body{
    background-color: #272323;
    color: white;
}

.pictures{
    padding: 5rem 0 0 0;
}
.inanimateScenes{
    padding: 1rem 0 1rem 0;
    overflow: hidden;
    position: relative;
}
.inanimateScenes::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    content:"";
    opacity: 0;
}
.inanimateScenes:hover:before{
    transition: 500ms;
    opacity: 0.3;
}

.animateScenes{
    padding: 1rem 0 1rem 0;
    position: relative;
}

.animateScenes::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    content:"";
    opacity: 0;
}
.animateScenes:hover:before{
    transition: 500ms;
    opacity: 0.3;
}
.photographyGrid{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr  1fr;
    grid-template-areas:
    'picture1 picture2 picture3 picture4';
}

.picture1{
    grid-area: picture1;
}
.picture2{
    grid-area: picture2;
}
.picture3{
    grid-area: picture3;
}
.picture4{
    grid-area: picture4;
}

.gridImage{
    width: 100%;
    height:300px;
    object-fit: cover;
}

.photographySectionHeading{
    padding: 0 0 1rem 0;
}
/*
    Start Media Queries
*/
@media (max-width: 1545px){

    .photographyGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'picture1'
        'picture2' 
        'picture3' 
        'picture4';
    }
    
    .showcasePhoto{
        max-height: 200px;
    }
}
@media (prefers-reduced-motion){
    .inanimateScenes:hover:before{
        transition: 0ms;
    }
    .animateScenes:hover:before{
        transition: 0ms;
    }
}